@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "./themes.css";
@import "./navbar.css";
@import "./contextMenu.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

body {
    background: var(--backgroundColor);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: var(--bg-c);
    background-repeat: repeat;
    background-size: auto;
    background-position: 50% 50%;
    overflow: hidden;
    z-index: -1;
}

.searchBar {
    height: 75px;
    width: 250px;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px var(--border) solid;
    padding-left: 25px;
    color: var(--textColor);
    font-weight: 600;
    box-shadow: 0px 0px 3px var(--shadows);
}

.gameCard {
    width: 150px;
    height: 150px;
    margin: 15px;
    margin-bottom: 60px;
    transition: all 0.5s;
}

.gameCard:hover {
    transform: scale(1.1);
}

.gameCard img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 2px var(--shadows);
}

.gameCard h3 {
    margin-top: 5px;
    color: var(--textColor);
    text-align: center;
    text-shadow: 0px 0px 1px var(--shadows);
}

#gameContainer {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}